<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../partials/head.ejs') %>
<body>
  <!-- Header -->
  <%- include('../partials/header.ejs') %>

  <main class="main">
    <h2 class="sub-title">Messages</h2>

    <!-- Messages -->
    <% if (messages.length > 0) { %>
      <% messages.forEach(message => { %>
        <a href="/messages/<%= message.id %>" class="msg-link">
          <h3><%= message.user %></h3>
          <p><%= message.text %></p>
          <p><%= message.added.toLocaleString('en-US', { timeZoneName: 'short' }) %></p>
        </a>
        <hr>
      <% }) %>
    <% } %>
  </main>

  <!-- Footer -->
  <%- include('../partials/footer.ejs') %>
  
</body>
</html>