<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../partials/head.ejs') %>
<body>
  <!-- Header -->
  <%- include('../partials/header.ejs') %>

  <main class="main">
    <h2 class="sub-title">Messages</h2>

    <!-- Messages -->
    <% if (messages.length > 0) { %>
      <% messages.forEach(message => { %>
        <a href="/messages/<%= message.id %>" class="msg-link">
          <h3><%= message.user_name %></h3>
          <p><%= message.message %></p>
          <!-- Convert the date into ISO string -->
          <!-- Convert the date into UTC string as a fallback value -->
          <p class="message-date" data-date="<%= message.date_added.toISOString() %>">
            <%= message.date_added.toUTCString() %>
          </p>
        </a>
        <hr>
      <% }) %>
    <% } %>
  </main>

  <!-- Footer -->
  <%- include('../partials/footer.ejs') %>
  
</body>

<script>
  document.querySelectorAll('.message-date').forEach(el => {
    const dateISO = el.getAttribute('data-date')
    // Convert the date into local date and time
    el.textContent = new Date(dateISO).toLocaleString()
  })
</script>
</html>