<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../partials/head.ejs') %>
<body>
  <!-- Header -->
  <%- include('../partials/header.ejs') %>

  <main class="main">
    <h2 class="sub-title">Message Details</h2>

    <!-- Message -->
    <div class="message">
      <h3 class="msg-heading"><%= message.user_name %></h3>
      <p class="msg-text"><%= message.message %></p>
      <p><%= message.date_added.toLocaleString('en-US', { timeZoneName: 'short' }) %></p>
    </div>
  </main>

  <!-- Footer -->
  <%- include('../partials/footer.ejs') %>
  
</body>
</html>