<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../partials/head.ejs') %>
<body>
  <!-- Header -->
  <%- include('../partials/header.ejs') %>

  <main class="main">
    <h2 class="sub-title">Message Details</h2>

    <!-- Message -->
    <div class="message">
      <h3 class="msg-heading"><%= message.user_name %></h3>
      <p class="msg-text"><%= message.message %></p>
      <p class="msg-date" data-date="<%= message.date_added.toISOString() %>">
            <%= message.date_added.toUTCString() %>
          </p>
    </div>
  </main>

  <!-- Footer -->
  <%- include('../partials/footer.ejs') %>
  
</body>

<script>

  const el = document.querySelector('.msg-date')
  const dateISO = el.getAttribute('data-date')
  // Convert the date into local date and time
  el.textContent = new Date(dateISO).toLocaleString()
  
</script>
</html>